html {
  scroll-behavior: smooth;
 }
.home1{
  text-align: center;
  padding-bottom:240px;
  padding-top: 0px;
}

body{
  margin:0;
}
.heading{
  padding-top: 0;
  width:1500px;
}
h1{
  margin-top: 0px;
  padding-top: 0px;
}

.home2{
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 100px;
  padding-top: 100px;
  font-family: font-family: 'Jost', sans-serif;
  font-size: 25px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
.home3{
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
  font-family: font-family: 'Jost', sans-serif;
  font-size: 25px;

}
.bottom-container{
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 15s;
  -moz-animation: fadeIn 15s;
  -o-animation: fadeIn 15s;
  -ms-animation: fadeIn 15s;
  font-family: font-family: 'Jost', sans-serif;
  font-size: 25px;
}
.trying{
  font-size: 50px;
  font-family: 'Raleway', sans-serif;

}

.thread1{
  border-style: none;
  border-top-style: solid;
  border-color: black;
  border-width: 5px;
  width: 2%;
  margin:auto;
  margin-top: 70px;
  margin-bottom: 70px;
  top: 0.8em;
	-webkit-animation: thread2 4s infinite;
  	-moz-animation:    thread2 4s infinite;
  	-o-animation:      thread2 4s infinite;
  	animation:         thread2 4s infinite;
}

@-webkit-keyframes thread2 {
	  0%   { width: 100%; }
	  50% { width: 100%; }
	  80% { width: 0px;}
	  100%{ width:100%;}
	}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.btn {
  background: #151B54;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  text-align: center;

  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.copyright{
text-align: center;
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.carousel-item{
  height:550px;

}
.carousel-item > div {
  height: 55%;
  display: flex;
  color:#00008B;
  flex-direction: column;
  justify-content: center;
}


/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.slide{
  padding-top: 0px;
}
.container-fluid{
  padding:0;
}
.s1{
  color: black;
}
.s2{
  color:#150050 ;
}
.s3{
  color: white;
}


.carousel-item{
    float:none;
    transition: 0s !important;
}
.carousel-inner>.item {
    -webkit-transition: 0s !important;
    -o-transition: 0s !important;
    transition: 0s !important;

}
.us{
  border-radius: 100%;
  height: 180px;
  width:180px;
  align:center;

}
.home3{
  padding-top: 100px;
  padding-bottom: 100px;
}
.skill-row
{
  padding-top: 50px;
}
p{
  color:white;
}
h4{
  text-align:left;
}
.desc{
  padding-top: 50px;
}
.about{
  padding-bottom:0px;
}
.btn1 {
min-width: 190px;
height: 60px;
color:  #594545;
padding:18px 10px 20px 10px;
font-size:17px;
cursor: pointer;
transition: all 0.3s ease;
font-family:font-family: 'Raleway', sans-serif;-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 8px;

display: inline-block;
outline: none;
border-radius: 5px;
border: none;
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
background: #151B54;
color:#6D7B8D;
text-decoration: none;
z-index: 1;
}
.btn1:hover:after {
width: 100%;
left: 0;
background:#95B9C7;
text-decoration: none;
}
.btn1:after {
border-radius: 5px;
position: absolute;
content: "";
width: 0;
height: 100%;
top: 0;
z-index: -1;
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
transition: all 0.3s ease;

text-decoration: none;
right: 0;
}
.btn1:active {
top: 2px;
}
.btn1:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
